// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #2C4267;

$title-color:       #607C8C;

$moreinfo-color:    #FFF;
// ----------------------------------------------------------------------------
// Widget-acapela-audio styles
// ----------------------------------------------------------------------------
.widget-demo-acapela-audio {

  background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 32px;
    margin: 0;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }
}