<script type='text/javascript'>
$(function() {
  Dashing.widget_margins = [0, 0]
  Dashing.widget_base_dimensions = [300, 300]
  Dashing.numColumns = 3
});
</script>

<% content_for :title do %>Audio Demo<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
             <div data-id="demo-audio-1" data-view="AcapelaAudio" data-title="Hvordan går det?"></div>
        </li>
  </ul>
</div>