<script type='text/javascript'>
$(function() {
  Dashing.numColumns = 3
});
</script>
<style>
    body {
      background-color: #2C4267 !important;
    }
    .icon-background {
        margin-top: 10px !important;
    }

</style>
<% content_for :title do %>Audio Demo<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
             <div data-id="demo-audio-1" data-view="DemoAcapelaAudio" data-title="Toget til København ankommer til spor 3 om 5 minutter."></div>
        </li>
  </ul>
</div>