<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [150, 180]
  Dashing.numColumns = 8
});
</script>
<style>
    body {
      background-color: #2C4267 !important;
    }
    .icon-background {
        margin-top: 10px !important;
    }

</style>

<% content_for :title do %>Web scraper Demo<% end %>
<div class="gridster">
    <ul>
         <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-view="DemoClock"></div>
            <i class="icon-time icon-background"></i>
        </li>
        <li data-row="1" data-col="3" data-sizex="4" data-sizey="1">
             <div data-id="demo-text-3-1" data-view="DemoText" data-title="" data-text="Ankomst til Valby" class="large"></div>
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
             <div data-id="demo-spacer-3" data-view="DemoSpacer" data-bgcolor="#EB8500"></div>
        </li>
        <li data-row="2" data-col="3" data-sizex="4" data-sizey="2">
            <div data-id="demo-web-scraper-1" data-view="DemoWebScraper"></div>
        </li>
  </ul>
</div>